<div id='stats-home' class='row' ng-show='obras'>
  <div class='col-custom-2-5 col-sm-6'>
    <div class="row">
      <div class='col-xs-4 icon-container'>
        <img class="" src="images/indicadores/inversion.svg"/>
      </div>
      <div class='col-xs-8 value-container'>
        <h5>Total de inversión:</h5>
        <span class="value">{{total.inversion | currency:$ :0}}</span>
      </div>
    </div>
  </div>
  <div class='col-custom-1-5 col-sm-6'>
    <div class="row">
      <div class='col-xs-4 icon-container'>
        <img class="" src="images/indicadores/obras.svg"/>
      </div>
      <div class='col-xs-8 value-container'>
        <h5>Total de obras:</h5>
        <span class="value">{{total.obras | number}}</span>
      </div>
    </div>
  </div>
  <div class='col-custom-1-5 col-sm-6'>
    <div class="row">
      <div class='col-xs-4 icon-container'>
        <img class="" src="images/indicadores/finalizadas.svg"/>
      </div>
      <div class='col-xs-8 value-container'>
        <h5>Finalizadas:</h5>
        <span class="value">{{total.porcentaje_finalizadas}}%</span>
      </div>
    </div>
  </div>
  <div class='col-custom-1-5 col-sm-6'>
    <div class="row">
      <div class='col-xs-4 icon-container'>
        <img class="" src="images/indicadores/personas.svg"/>
      </div>
      <div class='col-xs-8 value-container'>
        <h5>Empleados:</h5>
        <span class="value">{{total.mano_obra | number}}</span>
      </div>
    </div>
  </div>
</div>