html{
  background-color: #fff;
}

#home-chart-container path {
  fill: #ccc;
  stroke: #FFF;
  stroke-width: 3px;
}

#home-chart-container{
	width: 100%;
}

slick.slider-nav img {
    max-width: 50%;
    text-align: center;
}

div.obra .etapa{
  border-color: #f1662f;
}
.progress{
    height: 35px;
    margin-bottom: 15px;
}
.progress-bar{
  background-color: #f1662f;
  background-image: linear-gradient(to bottom, #f1662f 0%, #f1662f 100%);
  border-color: #f1662f;
  color:white;
}
