<div class="row">
  	<div class="col-md-12">
		<h1>Entorno: {{entorno}}</h1>
		<p>Obras: {{obras.length}}</p>
		<p ng-repeat="obra in obras">
			Obra: {{$index+1}} -> {{obra}}
		</p>
	</div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4>[Galería]</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>[Datos]</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4> Ubicación de Obra </h4>
    <leaflet lf-center="london" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="350px"></leaflet>

  </div>
</div>

