<div id="historia-container" class="row">

    <div class="buttons-container-categories">
      <div class="btn-group btn-group-header" ng-class="{categorySelected:(history.category)}" role="group">
        <div class="btn-group btn-header" role="group" ng-class="{unselected: (history.category && history.category!='verde')}">
          <button id="verde" type="button" class="btn btn-default" ng-click="selectCategory('verde')" >Verde<span ng-show="(history.category && history.category=='verde')">: {{history.title}}</span></button>
        </div>
        <div class="btn-group btn-header" role="group" ng-class="{unselected: (history.category && history.category!='integrada')}">
          <button id="integrada" type="button" class="btn btn-default" ng-click="selectCategory('integrada')">Integrada<span ng-show="(history.category && history.category=='integrada')">: {{history.title}}</span></button>
        </div>
        <div class="btn-group btn-header" role="group" ng-class="{unselected: (history.category && history.category!='equilibrada')}">
          <button id="equilibrada" type="button" class="btn btn-default" ng-click="selectCategory('equilibrada')">Equilibrada<span ng-show="(history.category && history.category=='equilibrada')">: {{history.title}}</span></button>
        </div>
        <div class="btn-group btn-header" role="group" ng-class="{unselected: (history.category && history.category!='cercana')}">
          <button id="cercana" type="button" class="btn btn-default" ng-click="selectCategory('cercana')">Cercana<span ng-show="(history.category && history.category=='cercana')">: {{history.title}}</span></button>
        </div>
        <div class="btn-group btn-header" role="group" ng-class="{unselected: (history.category && history.category!='atractiva')}">
          <button id="atractiva" type="button" class="btn btn-default" ng-click="selectCategory('atractiva')">Atractiva<span ng-show="(history.category && history.category=='atractiva')">: {{history.title}}</span></button>
        </div>
      </div>
    </div>

    <div id="history-carousel" class="carousel slide">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          
          <div id="item-{{key}}" ng-repeat="(key, h) in history.slides" class="item" ng-class="{active:(key==slideIndex)}">
            <div class="row embed-responsive embed-responsive-16by9">
                <img ng-show="history.pic == 'main'" class="img-responsive embed-responsive-item" ng-src="{{h.url}}"/>
                <img ng-show="history.pic == imgkey" ng-repeat="(imgkey, v) in h.variations" class="img-responsive embed-responsive-item" ng-src="{{v.url}}"/>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    <span ng-show="h.variations && h.variations.length>0">VER: </span>
                    <span ng-repeat="(imgkey, v) in h.variations" class="label label-orange" ng-mouseover="mouseoverVariation(imgkey)" ng-mouseout="mouseoutVariation()">{{v.title}}</span>
                  </p>
                  <h2>
                    {{h.title}} <ol ng-show="history.slides.length>1" class="carousel-indicators">
                      <li data-target="#history-carousel" ng-repeat="(key, h) in history.slides" data-slide-to="{{key}}" ng-class="{active:(key==slideIndex)}"></li>
                    </ol>
                  </h2>
                  <p>{{h.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a ng-show="(historyIndex>0) && (slideIndex==0)" class="btn btn-link btn-orange" ng-click="prevHistory()"><span class="glyphicon glyphicon-chevron-left"></span> Historia anterior</a>
                  
                  <a ng-show="(slideIndex!=0)" class="btn btn-link btn-orange" data-target="#history-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a>
                  
                  <a ng-show="(history.slides[slideIndex+1])" class="btn btn-link btn-orange" data-target="#history-carousel" role="button" data-slide="next">Continuar <span class="glyphicon glyphicon-chevron-right"></span></a>

                  <a ng-show="(SLIDES_DATA[historyIndex+1]) && !history.slides[slideIndex+1]" class="btn btn-link btn-orange" ng-click="nextHistory()">Próxima historia <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            </div>
          </div>

      </div>

    </div>

</div>
