<div id="historia-container" class="row">

    <div class="buttons-container">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button id="verde" type="button" class="btn btn-default" ng-class="{unselected: (history.category && history.category!='verde')}">Verde</button>
        </div>
        <div class="btn-group" role="group">
          <button id="integrada" type="button" class="btn btn-default" ng-class="{unselected: (history.category && history.category!='integrada')}">Integrada</button>
        </div>
        <div class="btn-group" role="group">
          <button id="equilibrada" type="button" class="btn btn-default" ng-class="{unselected: (history.category && history.category!='equilibrada')}">Equilibrada</button>
        </div>
        <div class="btn-group" role="group">
          <button id="cercana" type="button" class="btn btn-default" ng-class="{unselected: (history.category && history.category!='cercana')}">Cercana</button>
        </div>
        <div class="btn-group" role="group">
          <button id="atractiva" type="button" class="btn btn-default" ng-class="{unselected: (history.category && history.category!='atractiva')}">Atractiva</button>
        </div>
      </div>
    </div>

    <div id="history-carousel" class="carousel slide">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          
          <div id="item-{{key}}" ng-repeat="(key, h) in history.slides" class="item" ng-class="{active:(key==slideIndex)}">
            <div class="row embed-responsive embed-responsive-16by9">
                <img class="img-responsive embed-responsive-item" ng-src="{{h.url}}"/>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <h2>
                    {{h.title}} <ol ng-show="history.slides.length>1" class="carousel-indicators">
                      <li data-target="#history-carousel" ng-repeat="(key, h) in history.slides" data-slide-to="{{key}}" ng-class="{active:(key==slideIndex)}"></li>
                    </ol>
                  </h2>
                  <p>{{h.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a ng-show="(historyIndex>0) && (slideIndex==0)" class="btn btn-link" ng-click="prevHistory()"><span class="glyphicon glyphicon-chevron-left"></span> Historia anterior</a>
                  
                  <a ng-show="(slideIndex!=0)" class="btn btn-link" data-target="#history-carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a>
                  
                  <a ng-show="(history.slides[slideIndex+1])" class="btn btn-link" data-target="#history-carousel" role="button" data-slide="next">Continuar <span class="glyphicon glyphicon-chevron-right"></span></a>

                  <a ng-show="(SLIDES_DATA[historyIndex+1]) && !history.slides[slideIndex+1]" class="btn btn-link" ng-click="nextHistory()">Próxima historia <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            </div>
          </div>

      </div>

    </div>

</div>
