<div class="row">
  <div class="col-sm-12">
    <h4>Explorador de Obras</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="form-inline">
      <div class="form-group">
        <label for="agrupar" class="pull-left label-nav">Agrupar por</label>
        <div class="dropdown pull-left">
          <button class="btn btn-link btn-home dropdown-toggle" type="button" id="agrupar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedGroup | cleanunderscore}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="selectedGroup='comunas';showGroup();">Comunas</a></li>
            <li><a ng-click="selectedGroup='etapas';showGroup();">Etapa</a></li>
            <li><a ng-click="selectedGroup='mapa';showGroup();">Mapa</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <form class="form-inline">
  
      <div class="form-group">
        <label for="radio" class="pull-left label-nav">Diámetro según</label>
        <div class="dropdown pull-left">
          <button class="btn btn-link btn-home dropdown-toggle" type="button" id="radio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedRadioDimension | cleanunderscore}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="selectedRadioDimension='monto_contrato';showGroup();">Monto contrato</a></li>
            <li><a ng-click="selectedRadioDimension='licitacion_presupuesto_oficial';showGroup();">Presupuesto oficial</a></li>
          </ul>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12">
        <div id="home-chart-container"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-12 col-xs-6">
        <h4>Tipos de obra</h4>
        <div id="side-chart-container"></div>
        <hr/>
      </div>
      <div class="col-sm-12 col-xs-6">
        <h4>Monto total</h4>
        <div id="scale-chart-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Obras para una ciudad a tu medida</h4>
    <p>En un solo vistazo, conocé qué estamos haciendo para mejorar la Ciudad.</p>
  </div>
  <div class="col-xs-4">
    Dónde: Comunas    
  </div>
  <div class="col-xs-4 text-center">
    Qué hacemos: Tipos de obras    
  </div>
  <div class="col-xs-4 text-right">
    Cómo vamos: Etapas    
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="sankey-chart-container"></div>
  </div>
</div>


<!-- Tooltip OBRAS -->
<div id="tooltip-home-chart">
  <button type="button" class="close pull-right" ng-click="closeTooltip()">&times;</button>
  <span class="title">Obra:</span>
  <span class="desc">{{selectedObra.data.nombre}}</span>
  <span class="title">Tipo:</span>
  <span class="desc">{{selectedObra.data.tipo}}</span>
  <span class="title">Estado:</span>
  <span class="desc">{{selectedObra.data.etapa}}</span>
  <a ng-href="{{selectedObra.data.link_interno}}" class="btn btn-default btn-xs btn-block">Más información</a>
</div>