<div class="row">
  <div class="col-sm-10">
    <div id="home-chart-container"></div>
  </div>
  <div class="col-sm-2">
    <a class="btn btn-default btn-block" ng-click="showGroup('map')">Mapa</a>
    <a class="btn btn-default btn-block" ng-click="showGroup('comunas')">Comunas</a>
    <a class="btn btn-default btn-block" ng-click="showGroup('etapas')">Etapas</a>
		<p>Cargadas: {{obras.length}} obras</p>
    <p>Seleccionada:</p>
    <p id="detalle"></p>
    <div id="side-chart-container"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>[Sankey]</h4>
  </div>
</div>
