
<div class="row">
  <div class="col-sm-12 ">
    <h2>Observatorio de obras de la Ciudad</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="chart-item">
      <stats-home obras="obras"></stats-home>
    </div>
  </div>
</div>

<selector-home list="availableGroups" selected-group="selectedGroup" update-fn="changeGroup(group)"></selector-home>

<hr/>

<div id="main-chart-container" class="row">
  <div class="col-sm-12">
      <div id="home-chart-container"></div>
  </div>
</div>

<div class="row">
  <div id="side-chart-col" class="chart-container col-sm-6">
      <div class="chart-item">
        <h4>Filtrar por tipo de obra</h4>
        <tipo-chart obras="obras" selected-filter="selectedFilter" filter-fn="filterBubbles(filter)" tipo-colors="tipo_colors" finish-fn="tipoChartFinished()"></tipo-chart>
      </div>
      <div class="chart-item">
        <h4>Filtrar por etapa</h4>
        <etapa-chart obras="obras" selected-filter="selectedFilter" filter-fn="filterBubbles(filter)" tipo-colors="tipo_colors"></etapa-chart>
      </div>
  </div>
  <div class="chart-container col-sm-6">
      <div class="chart-item">
        <h4>Filtrar por área responsable</h4>
        <area-responsable-chart obras="obras" selected-filter="selectedFilter" filter-fn="filterBubbles(filter)"></area-responsable-chart>
      </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <h4>Obras para una Ciudad a tu medida</h4>
    <p>En un solo vistazo, conocé qué estamos haciendo para mejorar la Ciudad.</p>
  </div>
  <div class="col-xs-4">
    Dónde: Comunas
  </div>
  <div class="col-xs-4 text-center">
    Qué hacemos: Tipos de obras
  </div>
  <div class="col-xs-4 text-right">
    Cómo vamos: Etapas
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="sankey-chart-container"></div>
  </div>
</div>


<!-- Tooltip OBRAS -->
<div id="tooltip-home-chart">
  <button type="button" class="close pull-right" ng-click="closeTooltip()">&times;</button>

  <span class="main-title"><strong>{{selectedObra.data.nombre}}</strong></span>

  <img class="obra-pic img-responsive" ng-show="selectedObra.data.fotos.length>0" ng-src="{{selectedObra.data.fotos[0]}}"/>

  <span class="desc">{{selectedObra.data.etapa}} <span ng-show="selectedObra.data.porcentaje_avance">:{{selectedObra.data.porcentaje_avance}}%</span></span>
  <div ng-show="selectedObra.data.porcentaje_avance" class="progress">
    <div class="progress-bar"
      role="progressbar"
        ng-style="{ 'width': selectedObra.data.porcentaje_avance + '%', 'background-color': selectedObra.color_tipo_obra, 'background-image':'none' }">
        <i ng-show="selectedObra.data.porcentaje_avance == 100" class="glyphicon glyphicon-ok"></i>
    </div>
    <div class="progress-w" ng-show="selectedObra.data.porcentaje_avance<22" ng-style="{ 'width': (100 - selectedObra.data.porcentaje_avance) + '%' }"></div>
  </div>

  <span class="title">Responsable:</span>
  <span class="desc">{{selectedObra.data.area_responsable}}</span>

  <div class="row">
    <div class="col-xs-10">
      <span class="title">Tipo:</span>
      <span class="desc">{{selectedObra.data.tipo}}</span>
    </div>
    <div class="col-xs-2">
      <img class="pull-right" width="50" ng-src="images/iconos/{{selectedObra.data.tipo_slug}}.svg"/>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a ng-show="selectedObra.data.link_interno" target="_parent" ng-href="{{selectedObra.data.link_interno}}" class="btn btn-default btn-xs btn-block">Más información</a>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xs-12">
      {{selectedObra.data.compromiso ? selectedObra.data.compromiso : 'NO'}}
    </div>
  </div> -->

</div>
