<div id="explorador-mapas-container" ng-cloak ng-show="!loading">
	<div class="row obra">
	  <div class="col-md-12">
	    <h2>Explorador de mapas</h2>
	    <button class="btn" ng-class="{'btn-primary':(c.active)}" ng-repeat="c in cats" ng-click="toggleFilter(c)">{{c.name}}</button>
	  </div>
	</div>

	<hr/>

	<div ng-show="currentMap" class="row obra">
	  <div class="col-md-12">
	  	<div class="map-item">
		    <h3>{{currentMap.nombre}}  <small>{{currentMap.categoria}} <span ng-show="loadingMap"> - Cargando mapa...</span></small><a class="btn btn-link pull-right btn-orange" ng-click="unselectMap()">Cerrar</a></h3>
		    <p class="lead">{{currentMap.descripcion}}</p>
		    <leaflet center="center" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="500px"></leaflet>
	   </div>
	  </div>
	</div>
	
	<h1>Listado de mapas</h1>

	<div class="row obra">
	  <div class="col-md-6" ng-repeat="m in maps|ByCategoryFilter:cats">
	  	<div class="map-item">
	    <h4>{{m.nombre}} <small>{{m.categoria}}</small></h4>
	    <p>{{m.descripcion}}</p>
	   	<p class="text-right">
	   	<a ng-show="m.link_historia" class="btn btn-link btn-orange">Ver historia</a><a class="btn btn-link btn-orange" ng-click="selectMap(m)">Ver mapa</a></p>
	   </div>
	  </div>
	</div>

</div>
<div ng-show="loading">
	<h2>Cargando mapas ...</h2>
</div>
