<div id="explorador-mapas-container" ng-cloak ng-show="!loading">
	
	<div class="row">
		<div class="form-group col-md-8">
	    	<input type="text" class="form-control" ng-model="filterTerm" placeholder="Buscar por palabras clave">
		</div>
		<div class="col-md-4">
	  		<button type="submit" class="btn btn-link btn-orange" ng-click="clearFilter()">Limpiar filtros</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<div class="buttons-container-categories">
	      <div class="btn-group btn-group-header" role="group">
	        
	        <div class="btn-group btn-header" role="group" ng-class="{unselected: !(c.active)}" ng-repeat="c in cats">
	          <button id="{{c.name}}" type="button" class="btn btn-default" ng-click="toggleFilter(c)" >Ciudad {{c.name}}</button>
	        </div>

	      </div>
	    </div>
	    </div>
	</div>

	<div ng-show="currentMap" class="row obra">
	  <div class="col-md-12">
	  	<div class="map-item">
		    <h3>{{currentMap.nombre}}  <small>{{currentMap.categoria}} <span ng-show="loadingMap"> - Cargando mapa...</span></small><a class="btn btn-link pull-right btn-orange" ng-click="unselectMap()">Cerrar</a></h3>
		    <p class="lead">{{currentMap.descripcion}}</p>
		    <leaflet center="center" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="500px"></leaflet>
	   </div>
	  </div>
	</div>
	
	<hr/>

	<div class="row obra">
	  <div class="col-md-6" ng-repeat="m in maps|ByCategoryFilter:cats:filterTerm">
	  	<div class="map-item">
	    <h4>{{m.nombre}} <small class="bg-{{m.categoria}} label">Ciudad {{m.categoria}}</small></h4>
	    <p>{{m.descripcion}}</p>
	   	<p class="text-right">
	   	<a ng-show="m.link_historia" class="btn btn-link btn-orange">Ver historia</a><a class="btn btn-link btn-orange" ng-click="selectMap(m)">Ver mapa</a></p>
	   </div>
	  </div>
	</div>

</div>
<div ng-show="loading">
	<h2>Cargando mapas ...</h2>
</div>
