<div class="row obra">
  	<div class="col-md-12">
          <h3>Obra: {{obra.nombre}}</h3>
          <div class="row">
           <div class="col-md-8">
           <flex-slider slide="s in slides" animation="slide" control-nav="thumbnails">
              <li data-thumb="{{s}}">
                <img ng-src="{{s}}">
              </li>
            </flex-slider>
             <p> {{obra.descripcion}} </p>
          </div>
          <div class="col-md-3 ficha-tecnica">
              <h4> Ficha técnica</h4>
              <div class="etapa">
                <div class="row">
                   <div class="col-md-12">
                    <p>Estado de licitación:</p>
                   </div>
                    <div class="col-md-6">
                      <p><strong>{{obra.etapa}}</strong> </p>
                    </div>
                    <div class="col-md-6">
                      <p> <small> {{obra.etapa_detalle}}</small> </p>
                    </div>

                </div>
              </div>
              <div>
              <p> Tipo de obra:
                <strong>{{obra.tipo}}</strong>
              </p>
            </div>
              <p> Área responsable: <strong> {{obra.area_responsable}}</strong></p>
              <p ng-show="obra.licitacion_oferta_empresa"> Empresa: <strong> {{obra.licitacion_oferta_empresa}}</strong></p>

              <p> Estado </p>
              <div class="progress">
                <div class="progress-bar bg-color-{{obra.slug}}"
                  role="progressbar"
                    ng-style="{ 'width': obra.porcentaje_avance + '%' }">
                  <div class="progressbar-w" ng-show="!obra.porcentaje_avance"><p></p> </div>
                  <span class="progressbar-w" ng-hide="obra.porcentaje_avance<22 || !obra.porcentaje_avance">
                  </span>
                </div>
                <div class="progress-w" ng-show="obra.porcentaje_avance<22" ng-style="{ 'width': (100 - obra.porcentaje_avance) + '%' }"></div>
              </div>
              <p ng-if="obra.plazo_meses"> Plazo total: <strong> {{obra.plazo_meses}} meses </strong> </p>
              <div class="row fechas" ng-show="obra.fecha_inicio">
                <div class="col-md-12">
                 <progress-line callback="mainCallback">
                  </progress-line>
                </div>

              </div>

              <p ng-if="obra.benficiarios"> Cantidad de Beneficiaros: <strong> {{obra.benficiarios}}<small> personas</small>  </strong></p>
              <p ng-if="obra.mano_obra"> Mano de Obra: <strong> {{obra.mano_obra}} <small>personas</small> </strong> </p>
              <p ng-if="obra.monto_contrato"> Monto Contrato: <strong> {{obra.monto_contrato | currency}} </strong> </p>
              <p ng-if="obra.licitacion_presupuesto_oficial"> Monto Actualizado: <strong>  {{obra.licitacion_presupuesto_oficial | currency}} </strong> </p>
              <p ng-if="obra.pliego_descarga"> <a ng-href="{{obra.pliego_descarga}}"><i class="detalle-frame-icon glyphicon glyphicon glyphicon-download-alt">
                        </i> Ver Pliego </a> </p>
          </div>
      </div>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4> Ubicación de obra </h4>
    <leaflet center="center" tiles="tiles" markers="markers" defaults="defaults" width="100%" height="350px"></leaflet>

  </div>
</div>
